* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Manrope", sans-serif;
  }

  :root {
    --greyishblack: hsl(0, 0%, 10%);
  }

  body {
    background-color: var(--greyishblack) ;
  }