body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: var(--greyishblack);
  color: white;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

:root {
  --greyishblack: hsl(0, 0%, 10%);
  --lightorangemix: hsl(10, 100%, 59%);
  --purpinkish: hsl(333, 73%, 51%);
}

.navbar {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 95%;
  padding: 10px 20px;
  background: linear-gradient(
    to right,
    var(--lightorangemix),
    var(--purpinkish)
  );
  margin-top: 1rem;
  border-radius: 2rem;
}

.menu {
  display: flex;
}

.menu .btn {
  background-color: white;
  border: none;
  color: black;
  font-size: 14px;
  font-family: "Poppins", sans-serif;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 20px; /* Round corners */
  position: relative;
}

.menu-item:hover {
  background-color: rgba(255, 255, 255, 0.9);
}

.menu-item:focus {
  outline: none;
}

.menu-item::after {
  content: "";
  display: inline-block;
  margin-left: 5px;
  border: 5px solid transparent;
  border-top-color: black;
  vertical-align: middle;
}

.menu-icon {
  font-size: 20px;
  color: white;
  cursor: pointer;
  margin-left: auto; /* Move to the right end */
}

.cover-logo {
  justify-content: center;
  width: 10rem;
  justify-content: center;
  margin-top: 1rem;
  /* background-color: aqua; */
}

.cover-logo img {
  height: 10rem;
  width: 10rem;
}

.content {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* background-color: blue; */
  height: 18rem;
}

.quote {
  font-size: 24px;
  font-style: italic;
  margin-bottom: 10px;
  font-family: "Vidaloka", sans-serif;
}

.author {
  font-size: 20px;
  margin-bottom: 20px;
  font-family: "Rokkitt", sans-serif;
  margin-left: 5rem;
}

.icons {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.icons button {
  border-radius: 50%;
  background: linear-gradient(
    to right,
    var(--lightorangemix),
    var(--purpinkish)
  );
  height: 3rem;
  width: 3rem;
}

.icons button img {
  height: 2rem;
  width: 2rem;
  margin-left: -0.3rem;
}
